    ul li ul{
    display:none;
} 

#container {
    width : 1200px;
    margin : 100px auto;
}

#blob {
    border-right: 1px solid #0059ec;
    border-left : 1px solid #0059ec;
    position : absolute;
    z-index : 1;
    top : 0;
    background: #0b2b61;
    background: linear-gradient(#0b2b61, #1153c0);
    background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 2px 3px 10px #011331;
    -webkit-box-shadow: 2px 3px 10px #011331;
}

#nav {
    
    background : #292929;
    float : left;
}
#nav ul{
    margin: 0;
}

#nav li {
    /*float : left;*/
    list-style : none;
    border-right : #4a4a4a;
    border-left : 1px solid black; 
}

#nav li a {
    color : #e3e3e3;
    z-index : 2;
    /*position : relative;
    float : left;*/
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;
    text-decoration: none;
    padding : 30px 45px;
}

#nav li ul li {
    color : #e3e3e3;
    z-index : 2;
    /*position : relative;
    float : left;*/
    font-size: 30px;
    font-family: helvetica, arial, sans-serif;
    text-decoration: none;
    padding : 30px 45px;
}

#nav li:hover > ul {
    display : block;
}

.nav > li > a:hover {
    background-color: transparent;
}
